@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.calculator {
    background-color: rgb(178, 179, 180);
    width: 500px;
    height: 650px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    flex-direction: column;
    height: 20%;
    background-color: rgb(247, 247, 247);
    margin-bottom: 24px;
    border-radius: 6px;
    border: 2px solid black;
    padding: 24px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
}

.buttons {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.btn {
    border-radius: 6px;
    font-size: 20px;
}

.current {
    font-size: 46px;
}

.previous {
    font-size: 28px;
    opacity: 0.7;
}

#divide {
    font-size: 24px;
}

#clear {
    background-color: lightcoral;
}

#delete {
    background-color: lightblue;
}

.btn:hover {
    filter: brightness(80%);
}

.btn:active {
    filter: brightness(50%);
}