@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.calculator {
    background-color: rgb(178, 179, 180);
    width: 500px;
    height: 650px;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    flex-direction: column;
    height: 15%;
    background-color: rgb(210, 213, 216);
    font-size: 24px;
    margin-bottom: 24px;
    border-radius: 6px;
    padding: 24px;
    align-items: flex-end;
    justify-content: space-between;
}

.buttons {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    border-radius: 6px;
    font-size: 18px;
}